
header {
	background: rgb(148, 148, 148);
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
    background: #rgb(148, 148, 148);
    height: 80px;
}

h2 {
	text-transform: uppercase;
    color:rgb(7, 0, 102);
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

img {
	display: none;
}

section {
    background: #777777;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

a {
	color: rgb(0, 0, 0);
	background: rgb(182, 182, 182);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}
body{
    background-color: red;
}