ul{
    margin-left: 4%;
    display: inline-block;
    margin-top: 2%;
}


button{
    margin-left: 4%;
    margin-top: 1%;
    display: inline-block;
}

h1{
    margin-left: 4%;
    margin-top: 1.5%;
}