
body{
    background-color: bisque;
}
h2{
    text-align: center;
}

div{
    background-color: #0000cc;
    color: #ffffff;
    box-sizing: border-box;
    width:20%;
    display: inline-block;
    height: 200px;
    margin: 10px;/*this is the area aroud the block*/
    border:20px solid #696969;/*This is the margin*/
    padding: 20px;/*This is the area between the text and the block*/
    margin: 0 auto;
    margin-top: 50px
}