div{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

div#middle{
    background-color: #81b29a;
}

#static #middle{
    position: static;
}

#relative #middle{
    position: relative;
    top: 100px;
    right: 100px;
}
section #Absolute{
    position: relative;
}

#Absolute div#middle{
    position: absolute;
    top: 10px;
}

#Fixed #middle{
    position: fixed;
    top: 100px;
}