body{
    text-align: center;
    background-color: orange;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color:blue;
    background-color: bisque;
    line-height: 500%;
}
@font-face{
    font-family: My_font;
    src:url('Terence.ttf'); /*You can reference this font for other elements now */

}
